@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


nav {
    width: 100%;

    display: flex;

    position: fixed;

    background-color: #ffff0f;

    z-index: 99;
}

nav a.title {

    color: black;

    margin: auto 20px auto 40px;

    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;

}

nav li {
    display: inline;
    inline-size: 3rem;

    text-decoration: none;
    list-style: none;
    margin-left: 20px;

}

nav ul li a {
    text-decoration: none;
    color:black;
}

nav a.sign-out{
    color: black;

    margin: auto 20px auto 40px;

    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 300;
    
}

ul.start-navbar {
    margin-right: auto;
}

body{
    margin: 0;
    padding: 0;
    background: white;
    background-position: center;
    font-family: "Poppins", sans-serif;
}

.login-box{
    width: 450px;
    height: 550px;
    background: #d3d3d3;
    color: white;
    left: 50%;
    bottom: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, 50%);
    border-radius: 30px;
}

.user-title {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    margin-bottom: 5;
    font-size: 2rem;
    color: black;
}

.list-user {
    display: flex;
    flex-direction: column;
    background: #a9a9a9;
    list-style: none;
    color: black;
    font-size: 1.2rem;
    text-align: left;
}

a {
    text-decoration: none;
}
