@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


body{
    margin: 0;
    padding: 0;
    background: white;
    font-family: "Poppins", sans-serif;
}


nav {
    width: 100%;

    display: flex;

    position: fixed;

    background-color: #ffff0f;

    z-index: 99;
}

nav a.title {

    color: black;

    margin: auto 20px auto 40px;

    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;

}

nav li {
    display: inline;
    inline-size: 3rem;

    text-decoration: none;
    list-style: none;
    margin-left: 20px;

}

nav ul li a {
    text-decoration: none;
    color:black;
}

nav a.sign-out{
    color: black;

    margin: auto 20px auto 40px;

    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 300;
    
}

ul.start-navbar {
    margin-right: auto;
}

.container {
    margin: 0;
    width: 485px;
    height: 330px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

textarea{
    margin-left: 15px;
    margin-bottom: 25px;
    font-size: 1.5rem;
    font-weight: 150;
    width: 450px;
    height: 180px;
    overflow: auto;
    background: black;
    color: yellow;
}

a.nounderline:link 
{ 
 text-decoration:none; 
} 

main label {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 1.2rem;
    font-weight: 800;
}

a {
    text-decoration: none;
}

.delete-post {
    font-size: 1.2rem;
    margin-left: 22.5rem;  
    font-weight: 800;
    color: red;
}

.login-box{
    width: 500px;
    height: 316px;
    background: #d3d3d3;
    color: black;
    left: 50%;
    bottom: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, 50%);
    border-radius: 30px;
}